article.tweet {
  border: 1px solid hsla(0, 0%, 87%, 1);
  border-radius: 5px;
  margin: 1em;
}

article.tweet:hover {
  border: 1px solid hsla(0, 0%, 50%, 1);
}

article.tweet header {
  background-color: hsla(0, 0%, 93%, 1);
  display: inline-block;
  width: 100%;
}

article img.avatar {
  float: left;
  height: 80px;
  margin: 1em;
  mix-blend-mode: multiply;
  width: 80px;
}

article.tweet header h2{
  float: left;
  line-height: 80px;
  margin: auto;
}

article.tweet header h4{
  float: right;
  line-height: 80px;
  margin: 0;
  padding: 0 5px;
}

article.tweet p.tweet-text{
  border-bottom: 1px solid hsla(0, 0%, 95%, 1);
  margin: 0;
  padding: 1em;
}

article.tweet .shoe{
  display: flex;
  justify-content: space-between;
  padding:0.75em;
}

article.tweet .tweet-time{
  float: left;
}

article.tweet .icons{
  display: inline-block;
  float: right;
}

article.tweet .icons i{
  opacity: 0.3;
}

article.tweet .icons i:hover{
  opacity: 0.8;
  text-shadow: 1px 1px 0.5px grey;
}

article.tweet .icons .fa-flag:hover{
  color: green;
}

article.tweet .icons .fa-retweet:hover{
  color: blue;
}

article.tweet .icons .fa-heart:hover{
  color: red;
}